$headerBackgroundColor: $dark-navy-blue;
$headerLinksColor: $brownish-grey;
$headerLinksHoverColor: $black;

$mainNavigationLinkColor: $brownish-grey;

$buttonHellAndSilenceBackground: $black;
$buttonHellAndSilenceAlterBackground: $brownish-grey-two;
$buttonNightVisionsBackground: $white;
$buttonNightVisionsAlterBackground: $greyish;
$buttonSmokePlusMirrorsBackground: transparent;
$buttonSmokePlusMirrorsAlterBackground: $light-grey;
$buttonConcertToursBackground: $greyish;
$buttonLatterCompositionsBackground: $greyish;
$buttonLinkHoverColor: $greyish;

$albumTitleBorderColor: $black;
$albumDateTextColor: $black-65;
$albumDescriptionTextColor: $greyish;

$concertToursHeadingTopGradientColor: $greyblue;
$concertToursHeadingBottomGradientColor: $bluegrey;
$concertToursTitleBorderColor: $black;

$latterCompositionsContantBackgroundColor: $light-grey;

$carouselControlTriangleButtonsColor: $white;
$carouselControlButtonIconColor: $black;

$headingHorisontalLineColor: $black;

$upcomingEventsTitleBottomBorderColor: $black;
$upcomingEventsHeadingColor: $metallic-blue;
$verticalLineColor: $black;

$historyFocusedButtonAdsColor: $gunmetal-two;
$historyStoryTextColor: $greyish-brown;
$historyButtonHoverTextColor: $gunmetal;
$historyButtonTextColor: $grey-opacic-two;

$horisontalLineColor: $black;

$contactFormItemBorderColor: $black;
$contactFormItemTextColor: $steel-grey;
$contactTextColor: $warm-grey-six;
$contactHeadingColor:$greyish-brown-two;

$socialsVerticalLineColor: $black;
$socialsTextColor: $warm-grey-five;

$newTracksCompositionBackgroundNumberColor: $grey-opacic;

$mainFontColor: $black;
$secondaryFontColor: $white;
$primaryFontColor: $steel-grey;






